html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
    overflow: hidden;
}

img {
    z-index: -1;    
}

#controls {
    position: absolute;
    bottom: 0;
    right: 5px;
}

.sandbox-mode {
    visibility: hidden;
}